* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navbar {
    width: 100%;
    height: 60px;
    background-color: rgb(238, 69, 44);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    /* gap: 50px; */
    color: rgb(255, 255, 255);

}

.navbar ul a {
    padding: 17px;
    list-style: none;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: black;

    &:hover {
        color: black;
        background-color: rgb(244, 242, 242);
    }
}

.navbar ul a:first-child {
    background-color: rgb(0, 0, 0);
    color: white;

    &:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
    }
}

.start {
    background-color: rgb(238, 69, 44);
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    /* margin: 40px; */
    padding-top: 90px;
    padding-bottom: 90px;


}

#startpage {
    font-size: 74px;
    font-weight: 400;
    color: white;
    margin-bottom: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.template {
    font-size: 25px;
    color: white;
    /* background-color: #ddd; */
    padding: 8px 16px;
    margin-bottom: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 350;
}

.startbt {
    background-color: black;
    color: white;
    padding: 10px 15px 10px 15px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    &:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
    }
}

.content1 {
    width: 100%;
    height: 570px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
    

}

.sentence1 {
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-flow: nowrap column;
    gap: 50px;

}

.title{
    
    font-weight:340;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    

}
.para1{
    
    font-weight: 550;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
.para2{
    
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: rgb(156, 154, 154);
}
.image1 {
    padding-top: 55px;
    display: flex;
    justify-content:space-evenly ;


}
.content2 {
    width: 100%;
    height: 570px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: start;
    margin-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
}

.sentence2 {
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-flow: nowrap column;
    gap: 50px;

}

.title2{
    
    font-weight:340;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    

}
.para3{
    
    font-weight: 550;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
.para4{
    
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: rgb(156, 154, 154);
}
.image2 {
    padding-top: 55px;
    display: flex;
    justify-content:space-evenly ;


}




.quote {
    width: 100%;
    height: 220px;
    background-color: rgb(72, 71, 71);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote h1 {

    color: white;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

footer {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}